* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}

body {
  background-image: url("../img/bg.png");
  overflow-x: hidden;
  background-size: 700px;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: #fff;
}

li {
  list-style-type: none;
}

nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  padding: 20px;
}

nav .nav_img {
  width: 300px;
}

.title {
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
}

.title span {
  background: -webkit-gradient(linear, left top, left bottom, from(#2e81cb), to(#32b7eb));
  background: linear-gradient(#2e81cb, #32b7eb);
  position: absolute;
  width: 120%;
  height: 120%;
  z-index: -1;
  -webkit-transform: rotate(3deg);
          transform: rotate(3deg);
  top: 65%;
  left: -1%;
}

.title_info {
  padding: 0 30px;
}

.title h2 {
  font-size: 50px;
  font-weight: 500;
  text-transform: uppercase;
}

.title p {
  font-size: 30px;
  font-weight: 500;
  text-transform: uppercase;
}

.bg {
  background-color: #aaa8b9;
  height: 700px;
  width: 300%;
  z-index: -1;
  display: inline-block;
  position: absolute;
  -webkit-transform: rotate(-15deg) translateX(-50%);
          transform: rotate(-15deg) translateX(-50%);
  top: 210%;
}

.container {
  padding: 0 100px;
}

.container .graphic {
  padding-bottom: 50px;
}

.container .graphics {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.container .logos {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 50px;
  text-align: center;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  margin-bottom: 20px;
  width: 80%;
  margin: 0 auto;
}

.container .logos_unit {
  width: 50%;
}

.container .photos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.container .video .titles h3 {
  background-color: transparent;
}

.container .videos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  width: 60%;
  margin: 0 auto;
}

.container .videos_unit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .videos_unit p {
  margin: 10px 0;
}

.container .g_photo .titles h3 {
  background-color: transparent;
}

.container .g_photos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin: 0 auto;
}

.container .g_photos_unit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .g_photos_unit p {
  margin: 10px 0;
}

.swiper {
  width: 40%;
  height: auto;
}

.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.titles span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
}

.titles span h3 {
  font-size: 30px;
  padding-right: 10px;
  font-weight: 500;
  white-space: nowrap;
}

.titles span .icons {
  width: 100%;
  overflow: hidden;
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  overflow: hidden;
  position: relative;
}

.titles span .icon_img {
  width: 20px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.titles span .icon_img::before {
  content: "";
  position: absolute;
  width: 100%;
  display: inline-block;
  height: 1px;
  background-color: #66adcd;
  margin-right: 10px;
  right: 0;
  z-index: -1;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.titles .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

.titles .info .btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.graphic_price,
.photo_price,
.video_price {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: 3s;
  transition: 3s;
  -webkit-animation: move 3s all;
          animation: move 3s all;
}

.swiper_main {
  height: 100vh;
  width: 100vw;
}

.swiper_main .swiper .swiper-wrapper {
  overflow: hidden;
}

.graphic_pop,
.logo_pop,
.photo_pop,
.video_pop,
.g_photo_pop,
.main_pop {
  position: absolute;
  display: none;
  width: 100vw;
  height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 0;
  z-index: 5;
  left: 0;
  padding: 0 3%;
  background-color: #2e81cb;
}

.graphic_pop .graphic_price,
.graphic_pop .logo_price,
.graphic_pop .photo_price,
.graphic_pop .video_price,
.graphic_pop .g_photo_price,
.graphic_pop .main_price,
.logo_pop .graphic_price,
.logo_pop .logo_price,
.logo_pop .photo_price,
.logo_pop .video_price,
.logo_pop .g_photo_price,
.logo_pop .main_price,
.photo_pop .graphic_price,
.photo_pop .logo_price,
.photo_pop .photo_price,
.photo_pop .video_price,
.photo_pop .g_photo_price,
.photo_pop .main_price,
.video_pop .graphic_price,
.video_pop .logo_price,
.video_pop .photo_price,
.video_pop .video_price,
.video_pop .g_photo_price,
.video_pop .main_price,
.g_photo_pop .graphic_price,
.g_photo_pop .logo_price,
.g_photo_pop .photo_price,
.g_photo_pop .video_price,
.g_photo_pop .g_photo_price,
.g_photo_pop .main_price,
.main_pop .graphic_price,
.main_pop .logo_price,
.main_pop .photo_price,
.main_pop .video_price,
.main_pop .g_photo_price,
.main_pop .main_price {
  width: 50%;
  margin-left: 50px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.graphic_pop span,
.logo_pop span,
.photo_pop span,
.video_pop span,
.g_photo_pop span,
.main_pop span {
  position: absolute;
  top: 3%;
  right: 3%;
  cursor: pointer;
  z-index: 10;
}

.graphic_pop span i,
.logo_pop span i,
.photo_pop span i,
.video_pop span i,
.g_photo_pop span i,
.main_pop span i {
  font-size: 30px;
}
/*# sourceMappingURL=style.css.map */